:root{
    --main: #004f6f;
    --main2: #646469;
    --secondary: #bcbcbc;
    --accent: #8fc3d4;
    
}

.headerWrapper {
    background-color: var(--main);
    color: var(--secondary);
    
}
.headerWrapper h1{
    font-size: 4rem;
    padding: 1rem;
}

.headerWrapper a{
    color: var(--accent);
    font-size: 2rem;
    padding-bottom: 1rem;
}

.headerWrapper p {
    background-color: var(--main2);
    padding: 1rem;
    color: white;
    font-size: 1.6rem;
}
